@charset 'UTF-8';
*{ padding:0; margin:0;}
.clear{ clear:both;}
body{ font-family:"微软雅黑";}

/**nav**/
.navs{ width:100%; height:100px; background:#0b8b8e;}
.nav{ width:1120px; height:100px; margin:0 auto;}
.nav1 img{ width:274px; height:62px; margin-top:21px; float:left;}
.nav2{ width:740px; height:40px;float:right; margin-top:60px;}
.nav2 ul{ width:740px; height:40px;}
.nav2 ul li{ float:left; text-align:center; list-style:none; width:105px; height:40px; line-height:40px;  color:#FFF;}
.nav2 ul li a{ text-decoration:none; color:#FFF;}
.nav2 ul li:hover{ background:#FFF; border-radius:6px 6px 0 0;}
.nav2 ul li a:hover{ color:#0b8b8e;}

/**banner**/
.banner img{ width:100%; height:430px; vertical-align:middle;}

/**news**/
.newss{ width:100%; height:47px;}
.news{ width:1120px; height:47px; margin:0 auto; border-bottom:solid 1px #bbbbbb;}
.news p{ font-size:12px; color:#666666; padding-top:22px;}
.news span{ font-size:14px; font-weight:bold;}
.news p a{ text-decoration:none; color:#666666;}
.news p a:hover{ color:#00F;}
.news span a:hover{ color:#F00;}

/**关于我们**/
.abouts{ width:100%; height:910px;}
.about{ width:1120px; height:802px; margin:0 auto; margin-top:12px;}
       /**左边**/
.mk{ width:201px; height:704px; float:left;}
.fenlei{ width:201px; height:312px; border:solid 1px #eeeeee;}
.fenlei h2{ font-size:14px; width:201px; height:40px; background:#0d9590; color:#FFF; line-height:40px;}
.fenlei h2 a{ text-decoration:none; color:#FFF;}
.fenlei h2 a:hover{ color:#F00;}
.fenlei ul{ width:187px; height:248px; margin-top:12px; margin-left:5px;}
.fenlei ul li{ font-size:12px; color:#666666; width:187px; height:30px; border-bottom:dotted 1px #999999; line-height:30px; list-style:none;}
.fenlei ul li a{ text-decoration:none; color:#666666;}
.fenlei ul li a:hover{ color:#00F;}
.lianxi{ width:201px; height:352px; margin-top:12px; border:solid 1px #eeeeee;}
.lianxi h2{ font-size:14px; width:201px; height:40px; background:#0d9590; color:#FFF; line-height:40px;}
.lianxi h2 a{ text-decoration:none; color:#FFF;}
.lianxi h2 a:hover{ color:#F00;}
.lianxi ul{ width:164px; height:90px; margin-top:10px; margin-left:7px;}
.lianxi ul li{ font-size:12px; list-style:none; color:#666666; line-height:22px;}
.lianxi ul li a{ text-decoration:none; color:#666666;}
.lianxi  ul li a:hover{ color:#00F;}
.lianxi img{ margin-top:8px; margin-left:2px; vertical-align:middle;}
       /**右边**/
.center{ width:860px; height:704px; float:left; margin-left:50px;}
.center1{ width:860px; height:45px;}
.center1 img{ float:left;}
.c1{ float:left; width:816px; height:44px; border-bottom:solid 1px #e0e0e0;}
.c1 p{ float:left; font-size:12px; color:#808080; padding-top:6px;}
.c1 span{ font-size:16px; color:#666666;}
.c1 p a{ text-decoration:none; color:#848484;}
.c1 p a:hover{ color:#00F;}

.center2{ width:860px; height:640px; margin-top:18px;}
.x1{ width:860px; height:88px; margin-bottom:22px;}
.x1 img{ float:left;}
.z1{ width:735px; height:88px; float:left; margin-left:12px;}
.z1 h3{ font-size:14px; padding-bottom:12px;}
.z1 h3 a{ text-decoration:none; color:#000;}
.z1 h3 a:hover{ color:#F00;}
.z1 p{ font-size:12px; color:#666666;}
.z1 p a{ text-decoration:none; color:#666666;}
.z1 p a:hover{ color:#00F;}
.z1 span{ color:#999999;}
.z1 span a{ text-decoration:none; color:#999999;}
.z1 span a:hover{ color:#00F;}

.center3{ width:285px; height:26px; margin:34px auto;}
.center3 ul{ width:285px; height:26px;}
.center3 ul li{ float:left; text-align:center; list-style:none; line-height:26px; border:solid 1px #dddddd; background:#ceeae9; font-size:12px;}
.center3 ul li a{ text-decoration:none; color:#000;}
.center3 ul li:hover{ color:#FFF; background:#0d9590;}
.center3 ul li a:hover{ color:#FFF;}

/**bottom**/
.bottom{ width:100%; height:94px; background:#353535;}
.bottom p{ font-size:12px; text-align:center; color:#999999;}
.bottom p a{ text-decoration:none; color:#999999;}
.bottom p a:hover{ color:#00F;}